/*Some colors for the
#ee786c owange
#ee786c owange offset white
#2c365a navy blue
#6baed8 light blue
#10123b dark navy
#88cbdb turqoise
#fffcdb yellowish white

*/

ion-toolbar{
  --color: var(--ion-color-dark);
  --background: #ffffffff; 
  height: 40px;
  --border-style: none;
  --ion-text-color:  #00000000;
}


ion-content{
--background: rgb(255, 255, 255);
--color: #ee786c;
font-size: 5vw;
/* --font-size: 50px; */
}
ion-title{
  --color: #10123b;
}
ion-list{
  --ion-item-background:#ffffffff;
  --ion-text-color:#10123b;
  --ion-border-color: #6baed8;
  
}
ion-button{
  --background: #88cbdb;
  --color: #10123b;
  --border-color: #88cbdb;
  --size: 2%;
}

/* ion-input{
  --background: red;
  --color: red;
  --ion-item-background:#ffffffff;
  --ion-text-color:#10123b;
  --ion-border-color: #6baed8;
} */
#menuIcon{
  color:#6baed8;
}
/*
https://ionicframework.com/docs/theming/themes
https://ionicframework.com/docs/theming/basics
*/

#h4 {
  z-index: 100;
  color: white;
  font-size: 30px;
  font-weight: bold;
  left: 125px;
  top: 80px;
}

#mainProfileImage {
  width:100% !important;  
  height : 100% !important;  
  max-width: 50vw;
  max-height: 50vw !important;
  position: center;
  margin:auto;
}

h2 {
  font-size: 30px;
  color: #2c365a;
  text-align: center;

}

#menuButton{
  color: #2c365a
}
#menuText{
  color: #2c365a;
}

#menu{
  color: #2c365a;
}

ion-checkbox{
  --border-color: #6baed8;
  --background-checked: #2c365a;
  --border-color-checked: white;
}

#iframe{
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
}

#quote{
  color: #2c365a;
  font-size: 35px;
  position: center;
}

#quoteButton{
  color: #fffcdb;
  font-size: 3vh;
  background: #ee786c;
  position: center;
  text-align: center;
}

/* #svg-container{
	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 100%; 
	vertical-align: middle; 
	overflow: hidden; 
} */

#svg-content { 
  width: 100%;
}

#profile{
  color: #2c365a;
  font-size: 8vw;
  text-align: center;
}
.saveButton{
  color: #2c365a;
  font-size: 5vw;
}

.takePhoto{
  font-size: 10vw;
  position: absolute;
  text-align: center;
  right: 5%;
  bottom: 5%;
}

/* .control-buttons{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
} */
.clearBtn{
  color: red;
  position: absolute;
  text-align: right;
  bottom: 1vh;
  left: 80%;
}

.main{
  left: 5%;
  right: 5%;
  position: absolute;
}

.ye2{
  max-width: 50%;
  position: relative;
  left: 25%;
  font-size: 6vw;
  color: #ee786c;
  text-align: center;
}

.statusBusy{
  font-size:7vw;
  color: #ee786c;
  text-align: center;
}

.status{
  text-align: center;
}
.todo-text{
  font-size: 6vw;
  color: #2c365a;
  text-align: center;
}

.done-text{
  font-size: 4vw;
  color: #2c365a;
  text-align: center;
}

.input-todo{
  font-size: 6vw;
  color: #2c365a;
}
.addButton{
  font-size: 4vw;
  color: #2c365a;
}

.showButton{
  font-size: 3vw;
  color: #2c365a;
  --background: #ee786c;
  left: 30%;
  margin: 0;
  text-align: center;
  position: absolute;

  /* left: 25%;
  right: 25%; */
}